@model object

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript">
        top.location = 'http://ayden-iframe.local/Summary.html';
    </script>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>